<h3>讀寫Android內部檔案</h3>
<pre>
  <div>    
     讀寫內部檔案
     <span>(1) 寫入內部檔案，並觀察檔案所在位置</span>
        FileOutputStream fileOutputStream = openFileOutput("test.txt", MODE_PRIVATE);
        BufferedOutputStream bufferedOutputStream = new BufferedOutputStream(fileOutputStream);
        String str = "我愛 Android";
        bufferedOutputStream.write(str.getBytes());
      
        bufferedOutputStream.flush();
        bufferedOutputStream.close();
      
       <span>(2) 讀取內部檔案 (少量資料)</span>
       FileInputStream fileInputStream = openFileInput("test.txt");
       BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
       //  資料一次讀取，只限20bytes
       byte[] buffbyte = new byte[20];
       int length = bufferedInputStream.read(buffbyte);
       bufferedInputStream.close();
       
       //顯示資料
       textView.setText("");
       textView.append(new String(buffbyte), 0, length);
     
       <span>(3) 讀取內部檔案 (大資料，使用迴圈讀取，限英文)</span>
         FileInputStream fileInputStream = openFileInput("test.txt");
         BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
         StringBuilder stringBuilder = new StringBuilder();
         //大檔案，迴圈讀取
         byte[] buffbyte = new byte[20];
         int length = 0;
         {{'
         while ((length = bufferedInputStream.read(buffbyte)) != -1) {
          stringBuilder.append(new String(buffbyte), 0, length);
         }
         '}}        
         bufferedInputStream.close();
         textView.setText(stringBuilder.toString());
      
         <span>(4)讀取內部檔案 (大資料，使用迴圈讀取，解決中文問題)</span>
        FileInputStream fileInputStream = openFileInput("test.txt");
        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
        //大檔案，迴圈讀取，解決中文問題，用BufferedReader是讀字元，所以不會出現讀半個文字.
        BufferedReader bufferedReader = new BufferedReader(new InputStreamReader(bufferedInputStream));
        
         StringBuffer stringBuffer = new StringBuffer();
         {{'
         while (bufferedReader.ready()) {
          stringBuffer.append((char) bufferedReader.read());
          } 
         '}}            
         bufferedReader.close();
         bufferedInputStream.close();
         textView.setText(stringBuffer.toString());            
   </div>
   <div>        
    <img src="assets/image/p502.PNG" alt="">
    {{'
    程式碼
    public class Main2Activity extends AppCompatActivity {
    
        Button btnWrite, btnRead1, btnRead2, btnRead3;
        TextView textView;
        EditText editText;
    
    
        @Override
        protected void onCreate(Bundle savedInstanceState) {
            super.onCreate(savedInstanceState);
            setContentView(R.layout.activity_main2);
    
            setTitle("讀寫內部檔案");
    
            btnRead1 = (Button) findViewById(R.id.btnRead1);
            btnRead2 = (Button) findViewById(R.id.btnRead2);
            btnRead3 = (Button) findViewById(R.id.btnRead3);
            btnWrite = (Button) findViewById(R.id.btnWrite);
    
            editText = (EditText) findViewById(R.id.editText);
            textView = (TextView) findViewById(R.id.textView);
    
            btnWrite.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    try {
                        //    FileOutputStream fout = openFileOutput("test.txt", MODE_PRIVATE|MODE_APPEND);
                        FileOutputStream fileOutputStream = openFileOutput("test.txt", MODE_PRIVATE);
    
                        BufferedOutputStream bufferedOutputStream = new BufferedOutputStream(fileOutputStream);
                        String str = editText.getText().toString(); // "我愛 Android";
                        bufferedOutputStream.write(str.getBytes());
    
                        bufferedOutputStream.flush(); // 將緩衝區中的資料全部寫出                      
                        bufferedOutputStream.close();
    
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
                }
            });
    
    
            //簡單簡短文字，不用迴圈
            btnRead1.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    try {
                        FileInputStream fileInputStream = openFileInput("test.txt");
    
                        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
    
                       //  小資料一次讀取
                        byte[] buffbyte = new byte[20];
                        int length = bufferedInputStream.read(buffbyte);
    
                        bufferedInputStream.close();
    
                        textView.setText("");
                        textView.append(new String(buffbyte), 0, length);
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
    
                }
            });
    
    
    //大檔案，用迴圈讀取，因為是讀取byte中文會有問題
            btnRead2.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    try {
                        FileInputStream fileInputStream = openFileInput("test.txt");
    
                        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
    
    
                        StringBuilder stringBuilder = new StringBuilder();
    
                        //大檔案，迴圈讀取
                        byte[] buffbyte = new byte[20];
    
                        int length = 0;
                        while ((length = bufferedInputStream.read(buffbyte)) != -1) {
                            stringBuilder.append(new String(buffbyte), 0, length);
                        }
    
                        bufferedInputStream.close();
    
    //                    do {
    //                        int length1 = bufferedInputStream.read(buffbyte);
    //                        if (length1 == -1) break;
    //                        else
    //                            stringBuilder.append(new String(buffbyte), 0, length1);
    //                    } while (true);
    
                        textView.setText(stringBuilder.toString());
                        Log.d("Demo data = ", stringBuilder.toString());
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
    
                }
            });
    
    
            //大檔案，用迴圈，解決中文問題
            btnRead3.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    try {
                        FileInputStream fileInputStream = openFileInput("test.txt");
                        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
    
    
                        //大檔案，迴圈讀取
                        //解決中文問題
                        BufferedReader bufferedReader = new BufferedReader(new InputStreamReader(bufferedInputStream));
                        //用BufferedReader,而不是直接用BufferedInputStream讀取,是因為BufferedInputStream是InputStream的間接子類別,
                        //InputStream的read方法讀取的是一個byte,而一個中文佔兩個byte,所以可能會出現讀到半個文字的情况,就是亂碼.
                        //BufferedReader继承自Reader,該類的read方法讀取的是char,所以無論如何不會出現讀半個文字.
                        StringBuffer stringBuffer = new StringBuffer();
                        while (bufferedReader.ready()) {
                            stringBuffer.append((char) bufferedReader.read());
                        }
    
                        bufferedReader.close();
                        bufferedInputStream.close();
    
                        textView.setText(stringBuffer.toString());
                        Log.d("Demo data = ", stringBuffer.toString());
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
                }
            });
        }
    }
    
    
    
    
    
    ------------------------
    排版
    
    &#60;?xml version="1.0" encoding="utf-8"?&#62;
    &#60;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        tools:context="com.example.cc.demo20180316.Main2Activity"&#62;
    
        &#60;Button
            android:id="@+id/btnWrite"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="寫入 內部檔案" /&#62;
    
        &#60;Button
            android:id="@+id/btnRead1"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="讀出 內部檔案 1 (簡單)" /&#62;
    
        &#60;Button
            android:id="@+id/btnRead2"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="讀出 內部檔案 2 (限英文)" /&#62;
    
        &#60;Button
            android:id="@+id/btnRead3"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="讀出 內部檔案 3 (中文)" /&#62;
    
        &#60;TextView
            android:id="@+id/textView"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="#a8dcc9"
            android:text="TextView" /&#62;
    
        &#60;EditText
            android:id="@+id/editText"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:ems="10"
            android:hint="寫入資料"
            android:inputType="textPersonName" /&#62;
    &#60;/LinearLayout&#62;
    '}}
    檢視內部檔案
    <img src="assets/image/p501.png" alt="">
   </div>
   <h3>讀寫 SD 檔</h3>
   <div>
       <span>寫入外部SD檔案</span>
       {{'
       requestStoragePermission(); //先請求權限
       try {
           String fileName ="t1.txt"; //設定檔名
           File dir = new File(Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOCUMENTS), ""); 
           if (!dir.exists())  //資料夾不存在，需要另外建立
               dir.mkdirs();
           File outputFile = new File(dir, fileName);
           FileOutputStream fileOutputStream = new FileOutputStream(outputFile);

           BufferedOutputStream bufferedOutputStream = new BufferedOutputStream(fileOutputStream);
           String str =editText.getText().toString(); // "我愛 Android";
           bufferedOutputStream.write(str.getBytes());
           bufferedOutputStream.flush(); // 將緩衝區中的資料全部寫出
           bufferedOutputStream.close();

       } catch (Exception err) {
           Log.d("Demo", err.toString());
       }


       '}}

       <span>讀出 SD 檔案</span>
       {{'
       try {
        String fileName ="t1.txt"; // editText.getText().toString();
        File dir = new File(Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOCUMENTS), ""); // , fileName);
        File inputFile = new File(dir, fileName);
        FileInputStream fileInputStream = new FileInputStream(inputFile);
        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
        //大檔案，迴圈讀取，解決中文問題
        BufferedReader bufferedReader = new BufferedReader(new InputStreamReader(bufferedInputStream));
       
        StringBuffer stringBuffer = new StringBuffer();
        while (bufferedReader.ready()) {
            stringBuffer.append((char) bufferedReader.read());
        }
        bufferedReader.close();
        bufferedInputStream.close();
        textView.setText(stringBuffer.toString());

    } catch (Exception err) {
        Log.d("Demo", err.toString());
    }


       '}}
   </div>
   <div>
       <span>完整範例</span>

       <img src="assets/image/p503.PNG" alt="">

       {{'
       public class Main21Activity extends AppCompatActivity {

        Button btnWrite, btnRead3;
        TextView textView;
        EditText editText;
    
        @Override
        protected void onCreate(Bundle savedInstanceState) {
            super.onCreate(savedInstanceState);
            setContentView(R.layout.activity_main21);
    
            setTitle("讀寫SD外部檔案");
    
    
            btnRead3 = (Button) findViewById(R.id.btnRead3);
            btnWrite = (Button) findViewById(R.id.btnWrite);
    
            editText = (EditText) findViewById(R.id.editText);
            textView = (TextView) findViewById(R.id.textView);
    
            btnWrite.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
    
                    requestStoragePermission(); //先檢查是否有讀寫檔案的權限
    
                    try {
                        String fileName ="t1.txt";
                        File dir = new File(Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOCUMENTS), "");
    
                        if (!dir.exists())  //資料夾不存在，需要另外建立
                            dir.mkdirs();
    
                        File outputFile = new File(dir, fileName);
    
                        FileOutputStream fileOutputStream = new FileOutputStream(outputFile);
    
    
                        BufferedOutputStream bufferedOutputStream = new BufferedOutputStream(fileOutputStream);
                        String str =editText.getText().toString(); // "我愛 Android";
                        bufferedOutputStream.write(str.getBytes());
    
                        bufferedOutputStream.flush(); // 將緩衝區中的資料全部寫出
                        bufferedOutputStream.close();
    
    
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
                }
            });
    
            btnRead3.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    try {
    
                        String fileName ="t1.txt";
                        File dir = new File(Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOCUMENTS), ""); 
                        File inputFile = new File(dir, fileName);
    
                        FileInputStream fileInputStream = new FileInputStream(inputFile);
                        BufferedInputStream bufferedInputStream = new BufferedInputStream(fileInputStream);
    
                        //大檔案，迴圈讀取，解決中文問題
                        BufferedReader bufferedReader = new BufferedReader(new InputStreamReader(bufferedInputStream));
                 
                        StringBuffer stringBuffer = new StringBuffer();
                        while (bufferedReader.ready()) {
                            stringBuffer.append((char) bufferedReader.read());
                        }
    
                        bufferedReader.close();
                        bufferedInputStream.close();
    
                        textView.setText(stringBuffer.toString());
                        Log.d("Demo data = ", stringBuffer.toString());
                    } catch (Exception err) {
                        Log.d("Demo", err.toString());
                    }
                }
            });
    
        }
    
    
        private void requestStoragePermission() {
            if (Build.VERSION.SDK_INT >= 23) {
                if (checkSelfPermission(Manifest.permission.WRITE_EXTERNAL_STORAGE) != PackageManager.PERMISSION_GRANTED) {
                    // (3)步驟三 如果沒有權限，就執行請求權限的指令 requestPermissions
                    requestPermissions(new String[]{Manifest.permission.WRITE_EXTERNAL_STORAGE}, 1);  // 1 為request_code
                }
            }
        }
    }
    
       '}}
   </div>
   <h3>拍照存檔</h3>
   <div>
       <span>啟動拍照</span>
       {{'
       Intent it = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
       startActivityForResult(it, 101);
       '}}

       <span>存入內部檔案</span>
       {{'
       if (resultCode == RESULT_OK && requestCode == 101) {
        //取出拍照後回傳資料
        Bundle extras = data.getExtras();
        //將資料轉換為圖像格式
        Bitmap bitmap = (Bitmap) extras.get("data");
        //載入ImageView
        imageView.setImageBitmap(bitmap);
        FileOutputStream fileOutputStream = null;
        try {
            //儲存在內部記憶體
            String partFilename = currentDateFormat();  //用目前時間做為檔名
            String fileName = "img_" + partFilename + ".jpg";
            fileOutputStream = openFileOutput(fileName, MODE_PRIVATE);
            bitmap.compress(Bitmap.CompressFormat.JPEG, 80, fileOutputStream);
            fileOutputStream.flush();
            fileOutputStream.close();
        } catch (IOException e) {
            Log.d("Demo", e.getMessage());
        }
    }
     
    '}}
    
    <span>存入 SD 檔案</span>
    {{'
    if (resultCode == RESULT_OK && requestCode == 102) {
        Bitmap bitmap = (Bitmap) data.getExtras().get("data");
        imageView.setImageBitmap(bitmap);
        String partFilename = currentDateFormat();
        String filename = "img_" + partFilename + ".jpg";
        requestStoragePermission(); //先取得權限
        storeCameraPhotoInSDCard(bitmap, filename);
    }
    '}}
   </div>
<div>
    <span>完整範例</span>

    <img src="assets/image/p504.PNG" alt="">

    {{'
    public class Main5Activity extends AppCompatActivity {

        Button btnCamera,btnFile,btnCameraSD;
        EditText editText;
    
        @Override
        protected void onCreate(Bundle savedInstanceState) {
            super.onCreate(savedInstanceState);
            setContentView(R.layout.activity_main5);
    
            setTitle("拍照功能");
    
            btnCamera = (Button) findViewById(R.id.btnCamera);
            btnCameraSD = (Button) findViewById(R.id.btnCameraSD);
            editText = (EditText) findViewById(R.id.editText);
    
            btnCamera.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    Intent it = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
                    startActivityForResult(it, 101);
                }
            });
    
            btnCameraSD.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v) {
                    Intent it = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
                    startActivityForResult(it, 102);
    
                    Log.d("Demo state ", Environment.getExternalStorageState());
                }
            });
    
    
        }
    
    
        @Override
        protected void onActivityResult(int requestCode, int resultCode, Intent data) {
            //拍照後顯示圖片
            ImageView imageView = (ImageView) findViewById(R.id.imageView);
    
    
            if (resultCode == RESULT_OK && requestCode == 101) {
                //取出拍照後回傳資料
                Bundle extras = data.getExtras();
                //將資料轉換為圖像格式
                Bitmap bitmap = (Bitmap) extras.get("data");
                //載入ImageView
                imageView.setImageBitmap(bitmap);
    
                FileOutputStream fileOutputStream = null;
                try {
                    //儲存在內部記憶體
    
                    //  Bitmap bm = BitmapFactory.decodeByteArray(data, 0, data.length);
                    // String fileName = editText.getText().toString();
    
                    String partFilename = currentDateFormat();
                    String fileName = "img_" + partFilename + ".jpg";
    
                    fileOutputStream = openFileOutput(fileName, MODE_PRIVATE);
                    bitmap.compress(Bitmap.CompressFormat.JPEG, 80, fileOutputStream);
                    fileOutputStream.flush();
                    fileOutputStream.close();
    
                    Log.d("Demo", "存檔 OK");
                } catch (IOException e) {
                    Log.d("Demo", e.getMessage());
                }
            } else if (resultCode == RESULT_OK && requestCode == 102) {
    
    
    
                Bitmap bitmap = (Bitmap) data.getExtras().get("data");
                imageView.setImageBitmap(bitmap);
    
                String partFilename = currentDateFormat();
                String filename = "img_" + partFilename + ".jpg";
    
                requestStoragePermission(); //先取得權限
                storeCameraPhotoInSDCard(bitmap, filename);
    
                // display the image from SD Card to ImageView Control
                //由檔案中讀出照片
                //   Bitmap mBitmap = getImageFileFromSDCard(storeFilename);
                //   imageView.setImageBitmap(mBitmap);
    
                Log.d("Demo ", "存SD檔OK，" + filename);
            }
    
    
            super.onActivityResult(requestCode, resultCode, data);
        }
    
        private void requestStoragePermission(){
            if(Build.VERSION.SDK_INT >=23) {
                int hasPermission = checkSelfPermission(Manifest.permission.READ_EXTERNAL_STORAGE);
                if (hasPermission != PackageManager.PERMISSION_GRANTED) {
                    requestPermissions(new String[]{Manifest.permission.READ_EXTERNAL_STORAGE,
                            Manifest.permission.WRITE_EXTERNAL_STORAGE},1);
                    return;
    
                }
            }
        }
    
    
        private String currentDateFormat(){
            SimpleDateFormat dateFormat = new SimpleDateFormat("yyyyMMdd_HH_mm_ss");
            String  currentTimeStamp = dateFormat.format(new Date());
            return currentTimeStamp;
        }
    
        private void storeCameraPhotoInSDCard(Bitmap bitmap, String fileName){
    
            //  File outputFile = new File(Environment.getExternalStorageDirectory(), "photo_" + currentDate + ".jpg");
            File outputFile = new File( Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DCIM), fileName);
            try {
                FileOutputStream fileOutputStream = new FileOutputStream(outputFile);
                bitmap.compress(Bitmap.CompressFormat.JPEG, 100, fileOutputStream);
                fileOutputStream.flush();
                fileOutputStream.close();
            } catch (Exception err) {
                Log.d("Demo ", err.toString());
            }
        }
        private Bitmap getImageFileFromSDCard(String fileName){
            Bitmap bitmap = null;
            File imageFile = new File( Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DCIM), fileName);
            try {
                FileInputStream fileInputStream = new FileInputStream(imageFile);
                bitmap = BitmapFactory.decodeStream(fileInputStream);
            } catch (Exception e) {
                Log.d("Demo 4", e.toString());
            }
            return bitmap;
        }
    }
    '}}    
    ---------------------------------------------
    &#60;?xml version="1.0" encoding="utf-8"?&#62;
    &#60;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        tools:context="com.example.cc.demo20180316.Main5Activity"&#62;
    
    
        &#60;Button
            android:id="@+id/btnCamera"
    
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Camera (存到內部檔案)" /&#62;
    
        &#60;Button
            android:id="@+id/btnCameraSD"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
    
            android:text="Camera 存SD" /&#62;
    
        &#60;EditText
            android:id="@+id/editText"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
    
            android:inputType="textPersonName"
            android:text="Name" /&#62;
    
        &#60;ImageView
            android:id="@+id/imageView"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
    
            app:layout_constraintTop_toBottomOf="@+id/editText"
            app:srcCompat="@drawable/ic_launcher_background" /&#62;
    
    &#60;/LinearLayout&#62;
</div>
</pre>