<nav>
    <ul>
        <li><a (click)='here(a)' #a [routerLink]="['/week01']">第1周</a></li>
        <li><a (click)='here(b)' #b [routerLink]="['/week02']">第2周</a></li>
        <li><a (click)='here(c)' #c [routerLink]="['/week03']">第3周</a></li>
        <li><a (click)='here(d)' #d [routerLink]="['/week04']">第4周</a></li>
        <li><a (click)='here(e)' #e [routerLink]="['/week05']">第5周</a></li>
        <li><a (click)='here(f)' #f [routerLink]="['/week06']">第6周</a></li>
        <li><a (click)='here(g)' #g [routerLink]="['/week07']">第7周</a></li>
        <li><a (click)='here(h)' #h [routerLink]="['/week08']">第8周</a></li>
        <li><a (click)='here(i)' #i [routerLink]="['/week09']">第9周</a></li>
    </ul>
</nav>
<main>
    <marquee scrollamount="5" 
    style="color:red">未包含作業。使用Angular設計，切換畫面並不會重新載入，開啟一頁即可，但要等待時間下載圖片。</marquee>
    <router-outlet></router-outlet>
</main>
