/* You can add global styles to this file, and also import other style files */
body{
    font-family: "標楷體";
    margin: 0;padding: 0;
    font-size: 1.3em;
}
span{
    color:#EA2027;
    font-weight: bold;
}
div{
    border-radius: 10px;
    width: 80%;
    height: auto;
    border: 1px solid #000;
    padding: 10px;
}
h3{
    color: #006266;
    font-size: 2em;
}
